.ListofHeroes__wrapper {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.ListofHeroes__searchField {
  padding-left: 15px;
  margin-left: 95px;
}
