.infoPage {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}
.imgContainer,.dataContainer {
    width: 50%;
}
img {
    max-width: 50%;
    display: flex;
    padding: 3vw;
    
}
.dataContainer {
    padding: 3vw;
}