.infoPage {
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}
.imgContainer img {
    max-width: 50%;
    display: flex;
    padding: 3vw;
    margin: 0 auto;
    
}
img:hover{
    cursor:zoom-in;
}
.dataContainer {
    padding: 3vw;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.comicList{
    display: flex;
    flex-wrap: wrap;
}
.comicList li {
    /* float: left; */
    margin: 1vw;
    max-width: 20%;
}
.comicList p {
    text-justify: auto;
}
.comicImg{
    max-width: 200px;
}
.switch {
    width: 100%;
    margin: 0 auto;
}
.fullscreen{
    max-width: 900px;
    margin :0 auto;
}